html, body {
    margin: 0;
}
.slider-wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(29, 29, 29);
}
.slider {
    --height: 600px;
    box-sizing: border-box;
    width: 100%;
    height: var(--height);
    max-width: 900px;
    max-height: 600px;
    
    display: flex;
    align-items: center;
    padding: 20px;
}

.slider__btn {
    cursor: pointer;
    font-size: 40px;
    background-size: contain;
    color: white;
    transition: .3s;

    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none; 
}
.slider__btn:hover {
    transform: scale(1.2);
}
.slider__btn-mod {
    transform: rotateZ(180deg);
}
.slider__btn-mod:hover {
    transform: scale(1.2) rotateZ(180deg);
}
.slides_wrapper {
    position: relative;
    flex: 1;
}
.slide img {
    box-sizing: border-box;
    width: 100%;
    padding: 0px 15px;
    max-height:  var(--height);
}

.slide {
    height: var(--height);
    position: absolute;
    opacity: 0;
    box-sizing: border-box;
    height: 100%;
    flex-shrink: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    transition: .7s;
}